<app-header></app-header>

<!-- <div class="container jumbotron" style="margin-top: 150px;  background-color: white;">
    <h1>About Us</h1>

    <h3>EKisan PVT LTD</h3>

    <p>#B12, G M Road , Vidyadhar Nagar</p>
    <p>Pune, Maharashtra MH</p>
    <p>India</p>


    <p> Phone - +91 9800000231 | E-mail - ekisan.info@gmail.com</p>



</div> -->






<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame"> <img class="img-fluid" src="../../assets/Image/farmer.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">E-Kisan Portal</h2>
                <p style="font-size: 15px;">Agriculture in India is growing with the introduction of the Green Revolution, the White Revolution, and Golden Revolution and Horticulture Revolutions. Agriculture experts have brought smart farming technologies that enabled them to reduce costs, maximize yields and increase profits. And there is perhaps a no better example of smart farming than with the ‘mobile app’.

                    There are apps for social networks, banking, travel, health, fitness, news, calendars, games, you name it, there is sure to be an app there for it. The use of Information and Communication Technology (ICT) to support the transmission of localized information and services working towards making farming socially, economically and environmentally sustainable, while contributing to the delivery of nutritious and economical food for all – this comprises the Digital Agriculture.  
                    
                    This has also led to the rise and development of mobile apps which are helping existing government schemes and other agriculture-based information to reach farmers in rural India. This digital change is acting as a game-changer for Indian agricultural conditions. Thus, the apps are helping boost overall business performance and reducing negative environmental impacts of farming. Now, with a click of a button, farmers can access information regarding weather, dealers, market prices, plant protection, agro advisories, IPM practices etc. Thus, these advancements will definitely help bring significant change in the lives of farmers and the field of agriculture. </p>
               <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
               </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
               </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-12">
                <h2 class="noo-sh-title">Meet Our Team</h2>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="hover-team">
                    <div class="our-team"> <img src="../../assets/Image/Aditi.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Aditi</h3> <span class="post">STUDENT</span> </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                   </div>
                    <hr class="my-0"> </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="hover-team">
                    <div class="our-team"> <img src="../../assets/Image/sumit.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Sumit</h3> <span class="post">STUDENT</span> </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                    </div>
                    <hr class="my-0"> </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="hover-team">
                    <div class="our-team"> <img src="../../assets/Image/OmkarImage.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Omkar</h3> <span class="post">STUDENT</span> </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                   </div>
                    <hr class="my-0"> </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="hover-team">
                    <div class="our-team"> <img src="../../assets/Image/Rashmi.jpeg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Rashmi </h3> <span class="post">STUDENT</span> </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                   </div>
                    <hr class="my-0"> </div>
            </div>

            <div class="col-sm-6 col-lg-2">
                <div class="hover-team">
                    <div class="our-team"> <img src="../../assets/Image/kalpesh.jpg" alt="" />
                        <div class="team-content">
                            <h3 class="title">Kalpesh</h3> <span class="post">STUDENT</span> </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-google-plus"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description">
                   </div>
                    <hr class="my-0"> </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>