<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
    <div class="sidebar">
        <h2>E-Kisan</h2>
        <ul>
            <li><a href="adminportal"><i class="fas fa-home"></i>&nbsp;Home</a></li>
            <li><a href="adminprofile"><i class="fas fa-user"></i>&nbsp;Profile</a></li>
            <li><a href="saveProductDetails"><i class="fas fa-cubes"></i>&nbsp;Add Products</a></li>
            <li><a href="productdashboard"><i class="fas fa-cubes"></i>&nbsp;Product Dashboard</a></li>
            <li><a href="userdashboard"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;User Dashboard</a></li>
            <li><a href="orderdashboard"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;Order Dashboard</a>
            </li>
            <!-- <li><a href="contact"><i class="fas fa-address-book"></i>&nbsp;Contact</a></li> -->
            <!-- <li><a href="logout"><i class="fas fa-address-book"></i>&nbsp;Logout</a></li> -->
            <!-- <li><a routerLink="/logout"><span class="fas fa-address-book"></span> LogOut</a></li> -->
            <li><a class="nav-link" routerLink="/logout"><span class="glyphicon glyphicon-user"></span> LogOut</a></li>
            <!-- <li><a href="#"><i class="fas fa-map-pin"></i>&nbsp;Map</a></li> -->
        </ul>

    </div>
    <div class="main_content">
        <div class="header h3">Welcome..!!<h4>{{user.name}}</h4> Have a nice day.</div>
        <!-- <div><pre></pre> </div> -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8">

                    <img src="../../assets/Image/farming2.jpeg" class="table-img img-thumbnail">
                </div>
                <div class="col-sm-4">
                    <p class="para">
                        <i class="fa fa-quote-left" aria-hidden="true"></i><i> &nbsp;They are the one who puts Their
                            Heart and Soul Into the Soil To
                            give us Food Let us thank them for Efforts and Salute their <b>Hard Work.&nbsp;&nbsp;</b>
                        </i><i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>

                </div>

            </div>

            <div class="row">
                <div class="col">
                    <p class="para1">
                        Agriculture is one of the important professions in many countries including India.
                        As most part of the Indian financial system is dependent on agriculture production, the keen
                        attention to the concern of food production is necessary.
                        <i>India</i> has enough food; does it have too many people working in agriculture? The pressure
                        on land is an outcome
                        of policy, which condemns most people to marginal farming. India needs a different set of
                        solutions for
                        agriculture and for those working the land.
                        India is an agricultural country. Agriculture is “only” ~16 % of GDP but the largest sector for
                        employment.
                        Officially farmers are only a few hundred million, but adding family members who help or
                        occasionally farm, as
                        also wage labourers, the number of farm workers is likely to be closer to half a billion people.
                    </p>
                </div>
                <div class="col">
                    <img src="../../assets/Image/farming1.jpg" class="table-img1 img-thumbnail">
                </div>
            </div>


            <div class="row para2">
                <p class="font-weight-bold" style="color: crimson; text-align: center;padding-left: 40px;">
                    AGRICULTURE WAS THE FIRST OCCUPATION OF THE MAN ,
                    AND AS IT EMBRACES THE WHOLE EARTH , IT IS THE
                    FOUNDATION OF ALL OTHER INDUSTRIES .</p>
            </div>
        </div>
    </div>
    <div>
    </div>
</div>